.webinar{
    background-color: #145369;
}
.card:hover{
     transform: scale(1.05);
     box-shadow: 0 10px 20px black;
     transition: 0.3s cubic-bezier(0.075, 0.82, 0.165, 1);
     font-style: oblique;
}
.why{
    background: #F5EDCE;
}
.why img:hover{
    border:solid 1mm black;
}
.why:hover{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.testimonials:hover{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.pricing:hover{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
/* .containerFAQ{
    background-color: #8bb3c1;
} */
.containerFAQ:hover{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-style: oblique;
}
.containerContact{
    background-color: #F5EDCE;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.social{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.foot{
    font-family:cursive;
}